*{ /* (*) untuk style semua bagian */
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans',sans-serif;
}

.wrapper{
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo{
    background-color: #35858B;
}

.logo h1 {
    font-size: 50px;
    font-weight: 800;
    font-family: Courier;
    color: #072227;
}

.profile_image{
  alt: "foto profil";
  width: 300px;
  height: 300px;
  border-radius: 200px;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
}

.menu {
    width: 100%;
    margin: auto;
    line-height: 50px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: white;
}

.menu a {
    color: #072227;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
    border-radius: 20px;
}

.menu a:hover {
    text-decoration: none;
    background-color: #AEFEFF;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom {
    margin-top: 50px;
    margin-bottom: 50px;
}

.kolom .deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: #072227;
}

p {
    font-size: 18px;
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
    color: #072227;
}

.blog {
    margin: 20px 80px 20px 80px;
}

table {
    font-size: 18px;
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
    color: #072227;
}

h2 {
    font-family: Courier;
    font-weight: 800;
    font-size: 40px;
    margin-bottom: 20px;
    color: #072227;
    width: 100%;
    line-height: 50px;
}

h3 {
    font-family: Courier;
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
    color: #072227;
    width: 100%;
    line-height: 50px;
}

h4 {
  font-family: Courier;
  font-weight: 800;
  color: #072227;
  width: 100%;
  line-height: 50px;
}

h5 {
  font-size: 18px;
  font-weight: lighter;
  font-family: 'Times New Roman', Times, serif;
  width: 800px;
  color: #072227;
}

a.tombol {
    color: red;
}

a.tombol:hover{
    text-decoration: underline;
}

.footer a {
    background-color: #4FBDBA;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
}

.footer a:hover {
    background-color: #AEFEFF;
    text-decoration: none;
}

.submit{
  height: 45px;
  width: 165px;
  margin: 15px 0;
}
.submit button{
  height: 100%;
  width: 100%;
  border: 1px solid #072227;
  outline: none;
  background: #35858B;
  color: #072227;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}
.submit button:hover{
  background: #AEFEFF;
}

/* digital clock */
.jam_digital{
    text-align: center;
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
    color: #35858B;
    font-weight: bold;
    font-size: 20px;
}

/* php */
.input {
    font-family: 'Courier New', Courier, monospace;
    color: #35858B;
    font-weight: bold;
    font-size: 20px;
}

/* Rating */
.container{
  position: relative;
  width: 400px;
  background: #35858B;
  padding: 20px 30px;
  border: 1px solid #072227;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container .post{
  display: none;
}
.container .text{
  font-size: 25px;
  color: #072227;
  font-weight: 500;
}
.container .edit{
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 16px;
  color: #072227;
  font-weight: 500;
  cursor: pointer;
}
.container .edit:hover{
  text-decoration: underline;
}
.container .star-widget input{
  display: none;
}
.star-widget label{
  font-size: 40px;
  color: #072227;
  padding: 10px;
  float: right;
  transition: all 0.2s ease;
}
input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label{
  color: #fd4;
}
input:checked ~ label{
  color: #fd4;
}
input#rate-5:checked ~ label{
  color: #fe7;
  text-shadow: 0 0 20px #952;
}
#rate-1:checked ~ form header:before{
  content: "I just hate it ";
}
#rate-2:checked ~ form header:before{
  content: "I don't like it ";
}
#rate-3:checked ~ form header:before{
  content: "It is awesome ";
}
#rate-4:checked ~ form header:before{
  content: "I just like it ";
}
#rate-5:checked ~ form header:before{
  content: "I just love it ";
}
.container form{
  display: none;
}
input:checked ~ form{
  display: block;
}
form header{
  width: 100%;
  font-size: 25px;
  color: #fe7;
  font-weight: 500;
  margin: 5px 0 20px 0;
  text-align: center;
  transition: all 0.2s ease;
}
form .textarea{
  height: 100px;
  width: 100%;
  overflow: hidden;
}
form .textarea textarea{
  height: 100%;
  width: 100%;
  outline: none;
  color: #eee;
  border: 1px solid #072227;
  background: #072227;
  padding: 10px;
  font-size: 17px;
  resize: none;
}
.textarea textarea:focus{
  border-color: #072227;
}
form .btn{
  height: 45px;
  width: 100%;
  margin: 15px 0;
}
form .btn button{
  height: 100%;
  width: 100%;
  border: 1px solid #072227;
  outline: none;
  background: #072227;
  color: #999;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}
form .btn button:hover{
  background: #1b1b1b;
}